<?xml version="1.0"?>
<configuration>

  <appSettings>
  </appSettings>
 
  <system.serviceModel>

    <services>
      <service name="SampleMSMQ.OrderProcessorService" >
        <!--<host>
          <baseAddresses>
            <add baseAddress="http://localhost:9898/ServiceModelSamples/Sar"/>
          </baseAddresses>
        </host>-->
        <!-- Define NetMsmqEndpoint -->
        <endpoint address="net.msmq://localhost/private/ColaSar"
                  binding="netMsmqBinding"
                  contract="SampleMSMQ.IOrderProcessor" />
        <!--<endpoint address="mex"
                  binding="mexHttpBinding"
                  contract="IMetadataExchange" />-->
      </service>
    </services>
    
    <bindings>
      <netMsmqBinding>
        <binding  exactlyOnce="true" deadLetterQueue="System">
          <security mode="None"/>
        </binding>
      </netMsmqBinding>
    </bindings>

    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="false" httpsGetEnabled="false"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>
