<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
<connectionStrings>
  <add name="insight"
       connectionString="Data Source=ALEX-HP;Initial Catalog=Test;Integrated security=Yes;Min Pool Size=2;Max Pool Size=100;Pooling=true;"
      providerName="System.Data.SqlClient"/>
</connectionStrings>
</configuration>