<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netMsmqBinding>
                <binding name="NetMsmqBinding_IOrderProcessor">
                    <security mode="None" />
                </binding>
            </netMsmqBinding>
        </bindings>
        <client>
            <endpoint address="net.msmq://localhost/private/InQueue" binding="netMsmqBinding"
                bindingConfiguration="NetMsmqBinding_IOrderProcessor" contract="Referencia.IOrderProcessor"
                name="NetMsmqBinding_IOrderProcessor" />
        </client>
    </system.serviceModel>
</configuration>