<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpsBinding_IServicio">
                    <security mode="TransportWithMessageCredential" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://alex-hp:8084/Service.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpsBinding_IServicio" contract="Proxy.IServicio"
                name="BasicHttpsBinding_IServicio" />
        </client>
    </system.serviceModel>
  
  <!--Con SSL la url del servicio debe sera valida, que tenga el nombre del servidor no el IP-->
</configuration>