
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
Duracion en segundos x Lista: @ViewBag.Duracion (seg) <br/>
Duracion en segundos x Lista Opt: @ViewBag.DuracionOPt (seg) <br />
Duracion en segundos x Item: @ViewBag.DuracionCustomizada (seg) <br />
Duracion en segundos x Item Opt: @ViewBag.DuracionCustomizadaOpt (seg) <br />

