<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IServicio" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:57236/Serviceoooo1.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IServicio" contract="Proxy.IServicio"
                name="BasicHttpBinding_IServicio" />
        </client>

      <behaviors>
        <endpointBehaviors>
          <behavior>
            <errorTransformationServicio habilitado="true" />
          </behavior>
        </endpointBehaviors>
      </behaviors>
      
      <extensions>
        <behaviorExtensions>
          <add name="errorTransformationServicio" type="Framework.Wcf.Error.BehaviorErrorTransformationSection, Framework.Wcf" />
        </behaviorExtensions>
      </extensions>

    </system.serviceModel>
</configuration>