<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

  <appSettings>
    <add key="existe" value="Hello world!!"/>

    <add key="valorEntero" value="65"/>
    <add key="valorInt16" value="1"/>
    <add key="valorBool" value="true"/>
    <add key="valorDecimal" value="5.85"/>
  </appSettings>
</configuration>
