<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Contexto"
         connectionString="Data Source=ALEX-HP; Initial Catalog=ConvencionesEf; Integrated Security=Yes; Application Name=Cef;"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>