<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netMsmqBinding>
                <binding name="NetMsmqBinding_IOrderProcessor">
                    <security mode="None" />
                </binding>
            </netMsmqBinding>
        </bindings>
        <client>
            <endpoint address="net.msmq://localhost/private/ColaSar" binding="netMsmqBinding"
                bindingConfiguration="NetMsmqBinding_IOrderProcessor" contract="Proxy.IOrderProcessor"
                name="NetMsmqBinding_IOrderProcessor" />
        </client>
    </system.serviceModel>
</configuration>